.section__pedales{
    background: #0c0c0c;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.head__ver-todo{
    color: #ffe0b1;
}

.head_lista{
    display: flex;
    color: #eee;
    justify-content: space-between;
    padding: 1rem;
}

.lista_pedales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo__pedales{
    color: #eee;
    font-weight: bolder;
}

.producto{
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1rem;
    color: #eee;
}

.titulo_producto{
    padding-top: 1rem;
}

.precio{
    padding-top: 1rem;
    font-weight: bolder;
}

.link_pedales{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    color: #ebd792;
}

@media (max-width: 768px){

    .lista_pedales{
        justify-content: center;
        text-align: center;
        border-bottom: solid #212121 1px;
    }

    .head_lista{
        flex-direction: column;
        text-align: center;
    }

    .titulo__pedales{
        padding-bottom: 1rem;
    }
}